<nav class="dashboard__nav">
  <ul class="dashboard__nav-list">
    <li class="dashboard__nav-item">
      <%= link_to dashboard_index_path, class: "dashboard__nav-link" do %>
        <i class="fas fa-home"></i>
        <span>Dashboard</span>
      <% end %>
    </li>
    <li class="dashboard__nav-item">
      <%= link_to '#', class: "dashboard__nav-link" do %>
        <i class="fas fa-question-circle"></i>
        <span>Quizzes</span>
      <% end %>
    </li>
    <li class="dashboard__nav-item">
      <%= link_to '#', class: "dashboard__nav-link" do %>
        <i class="fas fa-tags"></i>
        <span>Quiz Categories</span>
      <% end %>
    </li>
    <li class="dashboard__nav-item">
      <%= link_to '#', class: "dashboard__nav-link" do %>
        <i class="fas fa-building"></i>
        <span>Company</span>
      <% end %>
    </li>
    <li class="dashboard__nav-item">
      <%= link_to '#', class: "dashboard__nav-link" do %>
        <i class="fas fa-cog"></i>
        <span>Settings</span>
      <% end %>
    </li>
  </ul>
</nav>
