<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__copyright">
        &copy; <%= Time.current.year %> Kpi-App. All rights reserved.
      </div>
      <div class="footer__links">
        <%= link_to "FAQ", '#', class: "footer__link" %>
        <%= link_to "Terms", '#', class: "footer__link" %>
        <%= link_to "Privacy Policy", '#', class: "footer__link" %>
        <%= link_to "Contact", '#', class: "footer__link" %>
      </div>
    </div>
  </div>
</footer>
